#header{
	width: 100%;
	height:7%;
	
}
#logo{
	margin-left: 13%;
}
#left-menu{
	width: 15%;
	height: 8%;
	position: absolute;
	right:10%;
	top: 1%;
}
.download{
	width: 15%;
	background-color: #e7370c;
	text-decoration: none;
	font-weight: 500;
	color: #fff;
	padding: 3% 5% 3% 3%;
	font-size: 15px;
	border-radius: 6%;
}
.loginbutton{
	padding: 3% 8% 3%;
	background-color: #fff2ea;
	text-decoration: none;
	font-weight: 500;
	color: #7d360f;
	font-size: 15px;
	border: 1px solid #fac2a0;
	border-radius: 6%;
	margin-top:10%;
}

#mainmenu{
	
	height: 60px;
	 background-color: #e7370c; 

}
#container{
	width: 70%;
	height: 20%;
	margin-left: 15%;
	
	
	
}
#container a{
	color: white;
	text-decoration: none;
	position: relative;
	bottom: -150%;
}
#mainmenu span{
	background-color:#e7370c;
	padding:5px 28px;
	font-size:30x;
	color: white;
	font-family: "华文宋体";
	
	border-radius:-webkit-calc(18px);
	
}
#img1{
	
	align-content: center;
	top: auto;
}
.tj_wrapper .tj_gallery li a p{
	line-height: 20px;
    padding-top: 4px;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family:"微软雅黑";
}
.tj_wrapper .tj_gallery span img{
	
	width: 50px;
	height: 40%;
	margin-left: 69%;
	position: relative;
	bottom: 18px;
	
}
.writer{
	color: #999999;
	font-family: "微软雅黑";
	font-size: 12px;
}
#iframe{
	width: 35%;
	height: 820px;

	position:absolute;
	/* bottom:40%; */
	left: 65%;
	bottom:1%;
	top:93%;

	
}
#host{
	font-weight: 400;
	font-size:35px;
	font-family:'微软雅黑';
	color: darkslategray;
	width: 33%;
	position: absolute;
	left: 65%;
	bottom:8%;
/* 	bottom:30%; */
}

#left-menu #headimg{
	width:40%;height:80px;
	border-radius:70%;
	margin-bottom:7%;
}

